<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <module name="cscape" displayName="Circuitscape" version="1.0.0" configVersion="1.0000" contentType="any">
    <transformers>
      <transformer name="cscape" displayName="Circuitscape" isModel="True" isPrimary="True">
        <runtime>
          <transformer name="cscape:runtime"/>
        </runtime>
        <include>
          <transformer name="stime:maps"/>
        </include>
      </transformer>
      <transformer
          name="cscape:runtime"
          displayName="Circuitscape Runtime Transformer"
          className="SyncroSim.Circuitscape.RuntimeTransformer"
          classAssembly="SyncroSim.Circuitscape"
          environmentSheet="Circuitscape_Environment">
        <datafeeds>
          <datafeed name="cscape:env-datafeed" displayName="Circuitscape" dataScope="Library">
            <datasheets>
              <datasheet name="Circuitscape_Environment" displayName="Circuitscape" installationFolder="Circuitscape">
                <columns>
                  <column name="EnvironmentID" dataType="Integer" isPrimary="True"/>
                  <column name="Name" dataType="String" allowDbNull="False"/>
                  <column name="Value" dataType="String" allowDbNull="False"/>
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="cscape:run-control-datafeed" displayName="Run Control" dataScope="Scenario">
            <datasheets>
              <datasheet name="Circuitscape_RunControl" displayName="Run Control" isSingleRow="True">
                <columns>
                  <column name="InputID" dataType="Integer" isPrimary="True"/>
                  <column name="ScenarioID" dataType="Integer"/>
                  <column name="MinimumIteration" displayName="Minimum Iteration" dataType="Integer" defaultValue="1" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="1"/>
                  <column name="MaximumIteration" displayName="Maximum Iteration" dataType="Integer" defaultValue="1" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="1" format="d"/>
                  <column name="MinimumTimestep" displayName="Minimum Timestep" dataType="Integer" defaultValue="0" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="0" format="d"/>
                  <column name="MaximumTimestep" displayName="Maximum Timestep" dataType="Integer" defaultValue="0" validationType="WholeNumber" validationCondition="GreaterEqual" formula1="0" format="d"/>
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="cscape:input-datafeed" displayName="Inputs" dataScope="Scenario">
            <datasheets>
              <datasheet name="Circuitscape_Input" displayName="Inputs" isSingleRow="True">
                <columns>
                  <column name="InputID" dataType="Integer" isPrimary="True"/>
                  <column name="ScenarioID" dataType="Integer"/>
                  <column name="PolygonFile" displayName="Polygon File" dataType="String" isExternalFile="True" externalFileFilter="Polygon Files|*.asc"/>
                  <column name="HabitatFile" displayName="Habitat File" dataType="String" isExternalFile="True" externalFileFilter="Habitat Files|*.asc"/>
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="cscape:output-datafeed" dataScope="Scenario" isOutput="True">
            <datasheets>
              <datasheet name="Circuitscape_Output">
                <columns>
                  <column name="ScenarioID" dataType="Integer" isCompositeIndex="True"/>
                  <column name="Iteration" dataType="Integer" isCompositeIndex="True" format="d"/>
                  <column name="Timestep" dataType="Integer" isCompositeIndex="True" format="d"/>
                  <column name="FileName" dataType="String" isExternalFile="True" isRaster="True" bandColumn="FileNameBand"/>
                  <column name="FileNameBand" dataType="Integer"/>
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>
        </datafeeds>
      </transformer>
    </transformers>
    <layouts>
      <layout name="system-forms:library-datafeeds" model="cscape">
        <item name="system:files-datafeed"/>
        <item name="system:backup-datafeed"/>
        <item name="system:model-run-datafeed"/>
        <item name="cscape:env-datafeed"/>
      </layout>
      <layout name="system-forms:scenario-datafeeds" model="cscape">
        <item name="cscape:input-datafeed"/>
      </layout>
      <layout name="system-forms:result-transformers" model="cscape">
        <item name="stime:maps"/>
      </layout>
      <layout name="stime:maps" configurationSheet="Circuitscape_RunControl" model="cscape">
        <item name="Cumulative Map" dataSheet="Circuitscape_Output" column="FileName"></item>
      </layout>
    </layouts>
    <visualizers>
      <visualizer
        name="cscape:env-datafeed-visualizer"
        target="cscape:env-datafeed"
        className="SyncroSim.Core.Forms.ExeConfigDataFeedView" classAssembly="SyncroSim.Core.Forms"/>
    </visualizers>
  </module>
</configuration>